* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;

    margin: 0; /* menghilangkan celah antara konten halaman web dengan viewport */
    padding: 0; /* menghilangkan celah antara konten halaman web dengan viewport */
}
 
h2, h3 {
    color: #00a2c6;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    font-weight: 400; /* ketebalan teks */
    text-decoration: none; /* menghapus underline pada link */

    color: white; /* mengatur warna teks pada navigasi */
}

nav a:hover {
    font-weight: bold; /* efek tebal kalo kursor ngarah ke link itu*/
}

.profile header { /* dikasih titik (.) karena sebagai selector */
    text-align: center;
}

.featured-image { /* perlu kita terapkan pada seluruh elemen gambar, kecuali logo Kota Bandung dalam elemen <aside> */
    width: 100%;
    max-height: 300px;
    object-fit: cover; /* mengatasi overflow */
    object-position: center; /* mengatasi overflow */
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    padding: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
}

nav ul {
    padding-inline: 4rem;
    display: flex; /* Biar navigation jadi sejajar di satu baris */

    gap: 2rem;
}

nav li {
    list-style-type: none; /* menghilangkan tanda titik yang dihasilkan bagi setiap item pada list */
}

nav {
    background-color: #00a2c6;
    padding: 5px;

    position: sticky; /* membuat navigasi dapat melekat pada jendela browser (layaknya fixed position) */
    top: 0;
}

main {
    padding: 20px;

    display: flex; /* diganti menggunakan flexbox */
    gap: 1.5rem;
}

#content {
    flex: 5;

    display: flex; /* membuat layout untuk setiap card menggunakan flexbox */
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
}

header {
    display: inline;
}

@media screen and (max-width: 1200px) { /* styling akan diterapkan jika lebar viewport di bawah 1200 piksel */
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
}

/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    main aside {
        align-self: stretch;
    }
}